.adminPannel-button-left {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.adminPannel-button-left span {
  margin-left: 1rem;
}
.backtoHomePage {
  text-decoration: none;
  color: aliceblue;
  font-size: larger;
}
