.conatiner {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

div.blueTable {
  border: 0px solid #1c6ea4;
  background-color: #eeeeee;
  width: 80%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
  border: 0px solid #aaaaaa;
  padding: 6px 10px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 16px;
  color: #333333;
}
.divTable.blueTable .divTableRow:nth-child(even) {
  background: #64b6f5;
}
.divTable.blueTable .divTableHeading {
  background: #b7c6ff;
  background: -moz-linear-gradient(top, #c9d4ff 0%, #becbff 66%, #b7c6ff 100%);
  background: -webkit-linear-gradient(top, #c9d4ff 0%, #becbff 66%, #b7c6ff 100%);
  background: linear-gradient(to bottom, #c9d4ff 0%, #becbff 66%, #b7c6ff 100%);
  border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 18px;
  font-weight: normal;
  color: #7a7a7a;
  border-left: 0px solid #d0e4f5;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.blueTable .tableFootStyle {
  font-size: 18px;
  font-weight: bold;
  background: #d0e4f5;
}
.blueTable .tableFootStyle {
  font-size: 18px;
}

.divTable {
  display: table;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  display: table-cell;
}
.divTableHeading {
  display: table-header-group;
}
.divTableFoot {
  display: table-footer-group;
}
.divTableBody {
  display: table-row-group;
}

/* Button check out */
.btncheckOut {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 120px;
  margin-top: 20px;
  font-size: 16px;
  background-color: aqua;
  border: none;
}
